[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pandas = "*"
google-cloud-bigquery = {extras = ["bqstorage", "pandas"],version = "*"}
gsutil = "*"
google-cloud-storage = "*"
cmappy = "*"

[requires]
python_version = "3.8"
