[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
google-cloud-bigquery = "*"
gsutil = "*"
google-cloud-storage = "*"
cmappy = "*"

[requires]
python_version = "3.7"
